/* 3D Card hover effects */
.card-3d {
  perspective: 800px;
}

.card-3d-inner {
  transition: 125ms ease-in-out;
  transform-style: preserve-3d;
}

/* Project card tracker hover effects */
.tracker-1:hover ~ .card-inner {
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}
.tracker-2:hover ~ .card-inner {
  transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}
.tracker-3:hover ~ .card-inner {
  transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}
.tracker-4:hover ~ .card-inner {
  transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}
.tracker-5:hover ~ .card-inner {
  transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}
.tracker-6:hover ~ .card-inner {
  transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}
.tracker-7:hover ~ .card-inner {
  transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}
.tracker-8:hover ~ .card-inner {
  transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}
.tracker-9:hover ~ .card-inner {
  transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}
.tracker-10:hover ~ .card-inner {
  transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}
.tracker-11:hover ~ .card-inner {
  transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}
.tracker-12:hover ~ .card-inner {
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}
.tracker-13:hover ~ .card-inner {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.tracker-14:hover ~ .card-inner {
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}
.tracker-15:hover ~ .card-inner {
  transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}
.tracker-16:hover ~ .card-inner {
  transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}
.tracker-17:hover ~ .card-inner {
  transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}
.tracker-18:hover ~ .card-inner {
  transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}
.tracker-19:hover ~ .card-inner {
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}
.tracker-20:hover ~ .card-inner {
  transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}
.tracker-21:hover ~ .card-inner {
  transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}
.tracker-22:hover ~ .card-inner {
  transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}
.tracker-23:hover ~ .card-inner {
  transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}
.tracker-24:hover ~ .card-inner {
  transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}
.tracker-25:hover ~ .card-inner {
  transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}
